[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User=root
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ jupyter_config_dir }}:/home/ubuntu/.local/lib/python3.5/site-packages/"
ExecStart=/usr/bin/nohup sudo /usr/local/bin/jupyterhub -f {{ jupyter_config_dir }}/jupyterhub_config.py 

[Install]
WantedBy=multi-user.target
